@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Zen Loop", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
  font-size: 45px;
  background-color: lightcyan;
}
h1 {
  height: 10vh;
  font-family: "Zen Loop", sans-serif;
  margin-bottom: 50px;
}
.container {
  height: 65vh;
  width: 65vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid navy;
  border-radius: 15px;
  font-weight: 600;
  margin: 20px auto;
  padding: 20px;
}
p#author {
  margin-top: 15px;
  margin-left: 175px;
}
