@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Zen Loop", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
  font-size: 45px;
}
h1 {
  height: 60px;
  font-family: "Zen Loop", sans-serif;
  margin-bottom: 50px;
}
.container {
  height: 350px;
  width: 37rem;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid tan;
  border-radius: 15px;
  font-weight: 600;
  margin: 20px auto;
}
.btn {
  margin-top: 50px;
  height: 45px;
  width: 200px;
  border-radius: 8px;
  font-size: 24px;
  border: 1px solid saddlebrown;
  background-color: #fff;
  font-family: inherit;
  font-weight: bold;
}
